:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirdparty-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
img {
  display: block;
}
ul,
li {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style-type: none;
  text-decoration: none;
}
.current-page {
  color: var(--accent-color);
}
.logo-head {
  font-weight: 700;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
span {
  color: var(--accent-color);
}
.head-nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.head-nav-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-decoration: none;
  font-weight: 500;
  display: block;
  margin-left: 50px;
}
.head-nav-link:hover,
.head-nav-link:focus {
  color: var(--accent-color);
}
.head-contacts {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  display: block;
}
.head-contacts-link:hover,
.head-contacts-link:focus {
  color: var(--accent-color);
}
.head-contacts-link {
  color: var(--secondary-text-color);
}
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirdparty-text-color);
}
.hero-content {
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--thirdparty-text-color);
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  border-color: transparent;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.column-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.column-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.workspace-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-player-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
}
.team-player-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--thirdparty-text-color);
}
footer {
  background-color: var(--footer-background-color);
}
.footer-address {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--thirdparty-text-color);
  font-style: normal;
}
.footer-mail,
.footer-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
/*PORTFOLIO*/
/*..............................*/
/*..............................*/
/*..............................*/
/*...............................*/
/*...............................*/
/*...............................*/
.page-nav {
}
.page-nav-button {
  display: inline-block;
  background-color: var(--button-background-color);
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.page-nav-button:hover,
.page-nav-button:focus {
  background-color: var(--accent-color);
  color: var(--thirdparty-text-color);
}
